html {
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/55/e6/a8/55e6a82dd5db76854190e09687f0b6a5.jpg");
	background-repeat: no-repeat;
  	margin:0;
	padding:0;
	background-size: cover;
}

#menu1, #menu1 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu1 {
/* on centre le menu dans la page */
    text-align: center;
}
#menu1 li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}
#menu1 ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#menu1 a {
	background-color: white;
	font-size: 3em;
    text-decoration: none;
    display: block;
	color:#000;
}
#menu1 ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu1 li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}
